<c-row>
  <c-row>
    <c-input-group class="mb-3">
      <input
        [(ngModel)]="search"
        aria-label="Text input with dropdown button"
        cFormControl
      />
      <c-dropdown alignment="end">
        <button cButton cDropdownToggle color="secondary" variant="outline">
          Filter
        </button>
        <div cDropdownMenu>
          <a [routerLink] cDropdownItem>Action</a>
          <a [routerLink] cDropdownItem>Another action</a>
          <a [routerLink] cDropdownItem>Something else here</a>
          <hr cDropdownDivider />
          <a [routerLink] cDropdownItem>Separated link</a>
        </div>
      </c-dropdown>
    </c-input-group>
  </c-row>
  <c-col xs>
    <div></div>
    <c-card class="mb-4" *ngIf="users.length >= 1">
      <c-card-header>Users</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>Name</th>
              <th>Mobile Number</th>
              <th>Home Number</th>
              <th>Role</th>
              <th>Status</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | searchFilter : search; index as i">
              <td class="text-center">
                <c-avatar
                  size="md"
                  src="{{ user.profile_image }}"
                  status="{{ user.status ? true : false }}"
                ></c-avatar>
              </td>
              <td>
                <div>{{ user.first_name }} {{ user.last_name }}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  <span>
                    {{ user.email }}
                  </span>
                </div>
              </td>
              <td class="text-left">{{ user.mobile_number }}</td>
              <td class="text-left">{{ user.home_number }}</td>
              <td class="text-left">{{ user.role }}</td>
              <td class="text-left">{{ user.status }}</td>
              <td class="text-center">
                <div class="d-flex justify-content-around align-items-center">
                  <a
                    class="mb-0 action-btn"
                    [routerLink]="['/users', 'update', user._id]"
                  >
                    <svg
                      cIcon
                      name="cilPen"
                      size="xl"
                      title="Numbered List Icon"
                    ></svg>
                  </a>
                  <p class="mb-0 action-btn">
                    <svg
                      cIcon
                      name="cilTrash"
                      size="xl"
                      title="Numbered List Icon"
                    ></svg>
                  </p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
