<c-row>
  <c-row class="mb-3">
    <c-col xs>
      <c-card>
        <c-card-header>Search Filter</c-card-header>
        <c-card-body>
          <c-row>
            <c-col>
              <label cLabel for="email">Global Search</label>
              <input
                cFormControl
                [ngModel]="searchForm.text"
                id="global"
                placeholder="Filter by all fields"
                type="text"
              />
            </c-col>
          </c-row>
          <c-row class="mt-3">
            <c-col>
              <label cLabel for="status">Status</label>
              <select [ngModel]="searchForm.status" cSelect id="floatingSelect">
                <option value="" disabled>-- Select User Status --</option>
                <option *ngFor="let status of userStatuses" [value]="status">
                  {{ status }}
                </option>
              </select>
            </c-col>
          </c-row>
          <div class="d-flex justify-content-center mt-3">
            <button
              cButton
              color="success"
              class="text-light mx-1"
              (click)="searchUserHandler()"
            >
              Filter Search
            </button>
            <button cButton color="secondary" class="mx-1 text-light">
              Reset
            </button>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <c-col xs>
      <div class="d-flex justify-content-end">
        <button
          cButton
          color="primary"
          class="mx-1"
          [routerLink]="['/users', 'create']"
        >
          Create New User
        </button>
      </div>
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Users</c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead cTableColor="light">
              <tr>
                <th class="text-center">
                  <svg cIcon name="cilPeople"></svg>
                </th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Home Number</th>
                <!-- <th>Role</th> -->
                <th>Status</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="text-center">
                  <c-avatar
                    *ngIf="!user.profile_image"
                    color="primary"
                    textColor="white"
                  >
                    {{ user.first_name[0] }} {{ user.last_name[0] }}
                  </c-avatar>
                  <c-avatar
                    *ngIf="user.profile_image"
                    size="md"
                    class="avatar avatar-md"
                  >
                    <img
                      class="rounded-circle"
                      width="40"
                      height="40"
                      [src]="'http://localhost:5000/' + user.profile_image"
                    />
                  </c-avatar>
                </td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td class="text-left">{{ user.email }}</td>
                <td class="text-left">{{ user.mobile_number }}</td>
                <td class="text-left">{{ user.home_number }}</td>
                <!-- <td class="text-left">{{ user.role }}</td> -->
                <td
                  class="text-left font-weight-bold"
                  style="font-weight: 600"
                  [ngClass]="{
                    'text-success': user.status == status.ACTIVE,
                    'text-primary': user.status == status.APPROVED,
                    'text-danger': user.status == status.PENDING
                  }"
                >
                  {{ user.status }}
                </td>
                <td class="text-center">
                  <c-dropdown>
                    <button cButton cDropdownToggle color="secondary">
                      More
                    </button>
                    <ul cDropdownMenu>
                      <li>
                        <a [routerLink]="['/users', user._id]" cDropdownItem>
                          View
                        </a>
                      </li>
                      <li>
                        <a
                          [routerLink]="['/users', 'update', user._id]"
                          cDropdownItem
                        >
                          Update
                        </a>
                      </li>
                      <li>
                        <a (click)="deleteUserHandler(user._id)" cDropdownItem>
                          Delete
                        </a>
                      </li>
                    </ul>
                  </c-dropdown>
                  <!-- <div class="d-flex justify-content-around align-items-center">
                    <p
                      class="mb-0 action-btn"
                      [routerLink]="['/users', user._id]"
                    >
                      <svg
                        cIcon
                        name="cilNotes"
                        size="xl"
                        title="View User"
                      ></svg>
                    </p>
                    <p
                      class="mb-0 action-btn"
                      [routerLink]="['/users', 'update', user._id]"
                    >
                      <svg
                        cIcon
                        name="cilPen"
                        size="xl"
                        title="Numbered List Icon"
                      ></svg>
                    </p>
                    <p
                      class="mb-0 action-btn"
                      (click)="deleteUserHandler(user._id)"
                    >
                      <svg
                        cIcon
                        name="cilTrash"
                        size="xl"
                        title="Numbered List Icon"
                      ></svg>
                    </p>
                  </div> -->
                </td>
              </tr>
            </tbody>
          </table>
          <mat-paginator
            [length]="totalUsers"
            [pageSize]="searchParams.limit"
            [pageSizeOptions]="[5, 10, 20, 30]"
            (page)="onPaginatorChange($event)"
          ></mat-paginator>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-row>
