<c-row>
  <c-row class="mb-3">
    <c-col xs>
      <c-card>
        <c-card-header>Search Filter</c-card-header>
        <c-card-body>
          <div class="row mb-3">
            <div class="col">
              <label cLabel for="first_name">First Name</label>
              <input
                cFormControl
                id="first_name"
                placeholder="Filter by first name"
                type="text"
                [(ngModel)]="searchForm.first_name"
              />
            </div>
            <div class="col">
              <label cLabel for="last_name">Last Name</label>
              <input
                cFormControl
                id="last_name"
                placeholder="Filter by last name"
                type="text"
                [(ngModel)]="searchForm.last_name"
              />
            </div>
            <div class="col">
              <label cLabel for="email">Email</label>
              <input
                cFormControl
                id="email"
                placeholder="Filter by email"
                type="text"
                [(ngModel)]="searchForm.email"
              />
            </div>
          </div>
          <c-row>
            <c-col>
              <label cLabel for="email">Global Search</label>
              <input
                cFormControl
                [(ngModel)]="search"
                id="global"
                placeholder="Filter by all fields"
                type="text"
              />
            </c-col>
          </c-row>
          <div class="d-flex justify-content-center mt-3">
            <button
              cButton
              color="success"
              class="text-light mx-1"
              (click)="searchAdminHandler()"
            >
              Filter Search
            </button>
            <button cButton color="secondary" class="mx-1 text-light">
              Reset
            </button>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <c-col xs>
      <div class="d-flex justify-content-end">
        <button
          cButton
          color="primary"
          class="mx-1"
          [routerLink]="['/admins', 'create']"
        >
          Create New Admin
        </button>
      </div>
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Admins</c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead cTableColor="light">
              <tr>
                <th class="text-center">
                  <svg cIcon name="cilPeople"></svg>
                </th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Home Number</th>
                <th>Role</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr
                *ngFor="
                  let admin of _admins | searchFilter : search : searchFields
                "
              > -->
              <tr *ngFor="let admin of _admins">
                <td class="text-center">
                  <c-avatar
                    size="md"
                    src="{{ admin.profile_image }}"
                  ></c-avatar>
                </td>
                <td>{{ admin.first_name }} {{ admin.last_name }}</td>
                <td class="text-left">{{ admin.email }}</td>
                <td class="text-left">{{ admin.mobile_number }}</td>
                <td class="text-left">{{ admin.home_number }}</td>
                <td class="text-left">{{ admin.role }}</td>
                <td class="text-left">{{ admin.status }}</td>
                <td class="text-center">
                  <div class="d-flex justify-content-around align-items-center">
                    <p
                      class="mb-0 action-btn"
                      [routerLink]="['/admins', 'update', admin._id]"
                    >
                      <svg
                        cIcon
                        name="cilPen"
                        size="xl"
                        title="Numbered List Icon"
                      ></svg>
                    </p>
                    <p
                      class="mb-0 action-btn"
                      (click)="deleteAdminHandler(admin._id)"
                    >
                      <svg
                        cIcon
                        name="cilTrash"
                        size="xl"
                        title="Numbered List Icon"
                      ></svg>
                    </p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <mat-paginator
            [length]="admins.length"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 15, 20]"
            (page)="onPageChange($event)"
          ></mat-paginator>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-row>
