<div class="login-background">
  <div class="login-container">
    <div class="login-form">
      <div class="logo">
        <img class="logo-img" src="../assets/images/amberlogo.svg" alt="">
      </div>
      <h2>Request Password Reset</h2>
      <form action="" *ngIf="requestForm" [formGroup]="requestForm" (submit)="onSubmit()">
        <mat-form-field hideRequiredMarker class="form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" name="email" matInput>
          <!-- <mat-hint>Enter Email Address</mat-hint> -->
          <mat-error class="error" *ngIf=" requestForm.get('email')?.touched || submitted">
            <mat-error *ngIf="requestForm.get('email')?.hasError('required')">
              Please Enter your Email Address</mat-error>
            <mat-error *ngIf="requestForm.get('email')?.hasError('email') && requestForm.get('email')?.touched">
              Invalid Email Address</mat-error>
          </mat-error>
        </mat-form-field>



        <input type="hidden" formControlName="redirectLink" name="redirectLink">

        <button class="submit-btn bg-amber text-white p-3">Send</button>
      </form>
    </div>
  </div>