<app-widgets-dropdown></app-widgets-dropdown>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Users</c-card-header>
      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile Number</th>
              <th>Home Number</th>
              <!-- <th>Role</th> -->
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of _users">
              <td class="text-center">
                <c-avatar size="md" src="http://localhost:5000/{{ user.profile_image }}"></c-avatar>
              </td>
              <td>
                {{ user.first_name }}
                {{ user.last_name }}
              </td>
              <td class="text-left">
                {{ user.email }}
              </td>
              <td class="text-left">
                {{ user.mobile_number }}
              </td>
              <td class="text-left">
                {{ user.home_number }}
              </td>
              <!-- <td class="text-left">
                {{ user.role }}
              </td> -->
              <td class="text-left">
                {{ user.status }}
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>