<c-row>
  <c-col xs>
    <c-card class=" mb-4">
      <c-card-header>address Form</c-card-header>
      <c-card-body>
        <form cForm [formGroup]="addressForm" (submit)="onSubmit()">
          <div class="field-con">
            <div class="form-field" style="margin-right: 2rem;">
              <label cLabel for="">address Line 1</label>
              <input cFormControl formControlName="address_1" name="address_1" placeholder="123 Riverdale Ave" type="text" />
              <div class="error-con" *ngIf="addressForm.get('address_1')?.touched || submitted">
                <span *ngIf="addressForm.get('address_1')?.hasError('required')" class="error">address 1 required</span>
              </div>
            </div>
            <div class="form-field" style="margin-right: 2rem;">
              <label cLabel for="">address Line 2</label>
              <input cFormControl name="address_2" formControlName="address_2" placeholder="Kingston 12" type="text" />
            </div>

            <div class="form-field">
              <label cLabel for="">Select City</label>
              <input cFormControl name="city" formControlName="city" placeholder="example city" type="text" />

              <div class="error-con" *ngIf="addressForm.get('city')?.touched || submitted">
                <span *ngIf="addressForm.get('city')?.hasError('required')" class="error">Please Select a city</span>
              </div>
            </div>
          </div>

          <div>
            <label class="select-label" cLabel for="">Select Status</label>
            <select class="parish-select" formControlName="status" aria-label="Default select example" name="status" cSelect>
              <option value="" selected disabled>--Select Status--</option>
              <option *ngFor="let status of statuses" value="{{status._id}}">{{status.statusName}}</option>
            </select>
            <div class="error-con" *ngIf="addressForm.get('user_id')?.touched || submitted">
              <span *ngIf="addressForm.get('user_id')?.hasError('required')" class="error">Please Select A parish</span>
            </div>
          </div>

          <div>
            <label class="select-label" cLabel for="">Select User for address</label>
            <select class="parish-select" formControlName="user_id" aria-label="Default select example" name="user_id" cSelect>
              <option value="" selected disabled>--Select User--</option>
              <option *ngFor="let user of users" value="{{user._id}}">{{user.first_name}} {{user.last_name}}</option>
            </select>
            <div class="error-con" *ngIf="addressForm.get('user_id')?.touched || submitted">
              <span *ngIf="addressForm.get('user_id')?.hasError('required')" class="error">Please Select A parish</span>
            </div>
          </div>
          <div>
            <label class="select-label" cLabel for="">Select Parish</label>
            <select class="parish-select" formControlName="parish" aria-label="Default select example" name="parish" cSelect>
              <option value="" selected disabled>--Select Parish--</option>
              <option *ngFor="let parish of parishes" value="{{parish._id}}">{{parish.parishName}}</option>
            </select>
            <div class="error-con" *ngIf="addressForm.get('parish')?.touched || submitted">
              <span *ngIf="addressForm.get('parish')?.hasError('required')" class="error">Please Select A parish</span>
            </div>
          </div>


          <div class="button-flex">
            <button type="submit" routerLink="/address/view" class="mb-2 cancel-btn" cButton color="secondary">Cancel</button>
            <button type="submit" routerLink="/address/add" class="mb-2 add-btn" cButton color="primary">save</button>
          </div>
        </form>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>