
.field-con{
    display: flex;
   
    margin-bottom: 1.2rem;


.form-field{
    width: 25rem;
   
   


    input{
        padding: 15px;

    }
}
}


.parish-select{
  
    padding: 10px;
    height: 4rem;
    margin-bottom: 1.2rem;
   
}


.button-flex{
    display: flex;
    justify-content: flex-end;
}

.add-btn{
  
    background-color: rgb(3, 97, 197);
    border-radius: .3rem;
    width: 8rem;
    color: white;
    border: none;
    padding: 10px;
   

}
.cancel-btn{
    background-color: rgb(255, 64, 64);
    color: white;
    border-radius: .3rem;
    border: none;
    width: 8rem;
    margin-right: .4rem;
}