<c-row>
  <c-col xs>
    <c-card class=" mb-4">
      <c-card-header>address Form</c-card-header>
      <c-card-body>
        <form cForm [formGroup]="addressForm" *ngIf="addressForm" (submit)="updateAddress()">
          <div class="field-con">
            <div class="form-field" style="margin-right: 2rem;">
              <label cLabel for="">address Line 1</label>
              <input cFormControl value="{{address.address_1}}" formControlName="address_1" name="address_1" placeholder="123 Riverdale Ave" type="text" />
              <div class="error-con" *ngIf="addressForm.get('address_1')?.touched || submitted">
                <span *ngIf="addressForm.get('address_1')?.hasError('required')" class="error">address 1 required</span>
              </div>
            </div>
            <div class="form-field">
              <label cLabel for="">address Line 2</label>
              <input cFormControl value="{{address.address_2}}" name="address_2" formControlName="address_2" placeholder="Kingston 12" type="text" />
            </div>
          </div>
          <div>
            <label class="form-field" cLabel for="">Status</label>
            <input cFormControl value="{{address.status}}" name="address_2" formControlName="status" placeholder="Kingston 12" type="text" />
            <div class="error-con" *ngIf="addressForm.get('status')?.touched || submitted">
              <span *ngIf="addressForm.get('status')?.hasError('required')" class="error">Please Select status</span>
            </div>
          </div>

          <div>
            <label class="form-field" cLabel for="">City</label>
            <input cFormControl value="{{address.city}}" name="address_2" formControlName="city" placeholder="Kingston 12" type="text" />
            <div class="error-con" *ngIf="addressForm.get('city')?.touched || submitted">
              <span *ngIf="addressForm.get('city')?.hasError('required')" class="error">Please Select status</span>
            </div>
          </div>
          <!-- <div>
              <label class="select-label" cLabel for="">Select User for address</label>
              <select class="parish-select" formControlName="user_id" aria-label="Default select example" name="parish" cSelect>
                <option [disabled]="true" [selected]="true">Select User</option>
                <option *ngFor="let user of users" value="{{user._id}}">{{user.first_name}}</option>
              </select>
              <div class="error-con" *ngIf="addressForm.get('user_id')?.touched || submitted">
                <span *ngIf="addressForm.get('user_id')?.hasError('required')" class="error">Please Select A parish</span>
              </div>
            </div> -->
          <div>
            <label class="select-label" cLabel for="">Select Parish</label>
            <select class="parish-select" formControlName="parish" aria-label="Default select example" name="parish" cSelect>
              <option *ngFor="let parish of parishes" value="{{parish._id}}">{{parish.parishName}}</option>
            </select>
            <div class="error-con" *ngIf="addressForm.get('parish')?.touched || submitted">
              <span *ngIf="addressForm.get('parish')?.hasError('required')" class="error">Please Select A parish</span>
            </div>
          </div>
          <!-- <div>
            <label class="select-label" cLabel for="">Select City</label>
            <select class="parish-select" aria-label="Default select example" name="city" cSelect>
              <option [disabled]="true" [selected]="true">Select City</option>
              <option *ngFor="let city of cities" value="{{city._id}}">{{city.cityName}}</option>
            </select>
            <div class="error-con" *ngIf="addressForm.get('city')?.touched || submitted">
              <span *ngIf="addressForm.get('city')?.hasError('required')" class="error">Please Select a city</span>
            </div>
          </div> -->

          <div class="button-flex">
            <button routerLink="/address/view" class="mb-2 cancel-btn" cButton color="secondary">Cancel</button>
            <button type="submit" class="mb-2 add-btn" cButton color="primary">save</button>
          </div>
        </form>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>