<div class="login-background">
  <div class="login-container">
    <div class="login-form">
      <div class="logo">
        <img class="logo-img" src="../assets/images/amberlogo.svg" alt="">
      </div>
      <h2>Reset Password</h2>
      <form action="" *ngIf="resetPassword" [formGroup]="resetPassword" (submit)="onSubmit()">
        <mat-form-field hideRequiredMarker appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input formControlName="password" class="input" type="password" matInput>
          <mat-error class="error" *ngIf="resetPassword.get('password')?.touched || submitted">
            <mat-error *ngIf="resetPassword.get('password')?.hasError('required')">Password is required</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field hideRequiredMarker class="form-field" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input type="password" formControlName="repassword" name="repassword" matInput placeholder="Placeholder">
          <mat-error *ngIf="resetPassword.get('repassword')?.touched || submitted">
            <mat-error *ngIf="resetPassword.get('repassword')?.hasError('required')">
              password required</mat-error>
            <mat-error *ngIf="resetPassword.get('repassword')?.hasError('matching') && resetPassword.get('repassword')?.touched">
              Passwords do not match</mat-error>
          </mat-error>
        </mat-form-field>
        <button class="submit-btn bg-amber text-white p-3">Reset Password</button>
      </form>
    </div>
  </div>