<c-row>
  <c-col xs>

    <c-card class="mb-4">
      <c-card-header>Search filter</c-card-header>
      <c-card-body>
        <div class="form-group mb-4">
          <div class="form-field">
            <label cLabel for="first_name">Address Name</label>
            <input cFormControl id="address" [(ngModel)]="address_1" placeholder="Filter by name of address" type="text" />
          </div>
          <div class="form-field">
            <label cLabel for="first_name">City</label>
            <input cFormControl id="address" [(ngModel)]="city" placeholder="Filter by city" type="text" />
          </div>
          <div class="form-field">
            <label cLabel for="first_name">Parish</label>
            <input cFormControl id="address" [(ngModel)]="parish" placeholder="Filter by parish" type="text" />
          </div>
          <div class="form-field">
            <label cLabel for="first_name">Status</label>
            <input cFormControl id="address" [(ngModel)]="status" placeholder="Filter by status" type="text" />
          </div>
        </div>

        <div class="filter-flex">
          <button (click)="searchedItems()" cButton color="success">Filter Search</button>
          <button cButton color="secondary">Reset</button>
        </div>


      </c-card-body>



    </c-card>

    <div class="button-flex"><button cButton color="primary" routerLink="/address/add" class="mb-2">Add Address</button></div>

    <c-card class=" mb-4">
      <c-card-header>Addresses</c-card-header>
      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>
              <th>Address</th>
              <th>City</th>
              <th>Parish</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let address of _addresses | paginate:
            {
            itemsPerPage:10,
            currentPage:pagination,
            totalItems: totalAddresses
            }">
              <td>
                <div>
                  {{ address.address_1 }}
                  {{ address.address_2 }}
                </div>
              </td>
              <td>
                <div>
                  <span>
                    {{ address.city }}
                  </span>
                </div>
              </td>
              <td class=" text-left">
                {{ address.parishName}}
              </td>
              <td>
                <div [ngClass]="approved ? 'pending' : 'approved'">
                  {{ address.status }}
                </div>

              </td>
              <td>
                <div class="manage-icon">
                  <form [formGroup]="statusChange">
                    <button (click)="approveAddress(address._id)" type="submit" class="check-btn">
                      <input type="hidden" name="status" formControlName="status">
                      <p>
                        <img src='../../../../assets/images/check.png' alt="">
                      </p>
                    </button>


                  </form>

                  <p class="">
                    <a routerLink="/address/edit/{{address._id}}"><img src='../../../../assets/images/edit.png' alt=""></a>
                  </p>
                  <p (click)="deleteAddress(address._id)" class="">
                    <img src="../../../../assets/images/delete.png" alt="">
                  </p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<div class="d-flex justify-content-end mb-4">
  <c-card style="height: 4rem; ">
    <c-card-body>
      <pagination-controls (pageChange)="renderPage($event)"></pagination-controls>
    </c-card-body>

  </c-card>
</div>