<c-row>
  <c-col xs>

    <c-card class="mb-4">
      <c-card-header>Search filter</c-card-header>
      <c-card-body>
        <div class="form-group mb-4">
          <div class="form-field">
            <label cLabel for="first_name">Address Name</label>
            <input cFormControl id="address" [(ngModel)]="Address_1" placeholder="Filter by name of address" type="text" />
          </div>
          <div class="form-field">
            <label cLabel for="first_name">City</label>
            <input cFormControl id="address" [(ngModel)]="city" placeholder="Filter by city" type="text" />
          </div>
          <div class="form-field">
            <label cLabel for="first_name">Parish</label>
            <input cFormControl id="address" [(ngModel)]="parish" placeholder="Filter by parish" type="text" />
          </div>
          <div class="form-field">
            <label cLabel for="first_name">Status</label>
            <input cFormControl id="address" [(ngModel)]="status" placeholder="Filter by status" type="text" />
          </div>
        </div>

        <div class="filter-flex">
          <button (click)="searchedItems()" cButton color="success">Filter Search</button>
          <button cButton color="secondary">Reset</button>
        </div>


      </c-card-body>



    </c-card>

    <div class="button-flex"><button cButton color="primary" routerLink="/address/add" class="mb-2">Add Address</button></div>

    <c-card class=" mb-4">
      <c-card-header>Addresses</c-card-header>
      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>
              <th>Address</th>
              <th>City</th>
              <th>Parish</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let address of addresses; index as i">
              <td>
                <div>
                  {{ address.Address_1 }}
                  {{ address.Address_2 }}
                </div>
              </td>
              <td>
                <div>
                  <span>
                    {{ address.city }}
                  </span>
                </div>
              </td>
              <td class="text-left">
                {{ address.parish }}
              </td>
              <td>
                <div [ngClass]="approved ? 'pending' : 'approved'">
                  {{ address.status }}
                </div>

              </td>
              <td>
                <div class="manage-icon">
                  <p>
                    <img src='../../../../assets/images/check.png' alt="">
                  </p>
                  <p class="">
                    <a routerLink="/address/edit"><img src='../../../../assets/images/edit.png' alt=""></a>
                  </p>
                  <p class="">
                    <img src="../../../../assets/images/delete.png" alt="">
                  </p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<c-pagination aria-label="Page navigation example">
  <li cPageItem>
    <a cPageLink aria-label="Previous" [routerLink]><span aria-hidden="true">&laquo;</span></a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]>1</a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]>2</a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]>3</a>
  </li>
  <li cPageItem>
    <a cPageLink aria-label="Next" [routerLink]><span aria-hidden="true">&raquo;</span></a>
  </li>
</c-pagination>